label {
    font-weight: bold;
    display: block;
    width: 100px;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    width: 980px;
    margin: 0 auto;
}

.headerBox {
    display: flex;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
}

.input {
    display: flex;
    align-items: center;
}

.imgBox2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.imgBtn {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.keywordBox {
    width: fit-content;
    display: flex;
    align-items: center;
}

.keywordInputBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 40px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    &:focus-within {
        border-color: rgb(71, 132, 255);
    }
}

.keywordItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    background-color: rgb(65, 87, 252);
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

.keywordDelBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border: 0;
    background-color: transparent;
    color: red;
}

.keywordDelBtn:hover {
    cursor: pointer;
}

.keywordInput {
    display: inline-flex;
    max-width: 100px;
    background: transparent;
    border: none;
    outline: none;
    cursor: text;
}

.contentBox {
    width: 980px;
    margin-top: 30px;
}

.contentTitle {
    font-weight: bold;
    font-size: 24px;
}

.btnBox {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
}

.addBtn {
    width: 150px;
    height: 40px;
    border: 0;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: white;
}

.cancleBtn {
    width: 150px;
    height: 40px;
    border: 0;
    background-color: #e9e9e9;
    font-weight: bold;
    margin-left: 30px;
}