.cardBox {
    width: 160px;
}

.cardBox:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #b5b5b5;
}

.cardImg {
    width: 160px;
    height: 160px;
}

.contentBox {
    display: flex;
    flex-direction: column;
    height: 120px;
}

.title {
    display: -webkit-box;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: rgb(108, 108, 108);
    margin-top: 14px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: rgb(69, 69, 69);
    margin-top: 5px;
}

.rate {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.rate span {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    color: rgb(114, 114, 114);
}