.box {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    width: 980px;
    margin: 0 auto;
}

.title {
    margin-top: 48px;
    font-weight: bold;
    font-size: 24px;
}

.totalBox {
    display: flex;
    height: 100px;
    border: 3px solid rgb(52, 52, 52);
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.totalBox span:nth-child(1) {
    font-size: 14px;
}

.total {
    color: rgb(7, 0, 26);
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
}

.cartBtnBox {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.payBtn {
    width: 180px;
    height: 40px;
    border: 0;
    background-color: #1c1c1c;
    font-weight: bold;
    color: white;
}

.backBtn {
    width: 180px;
    height: 40px;
    border: 0;
    background-color: #fcfcfc;
    border: 1px solid gray;
    font-weight: bold;
    margin-left: 10px;
}