.hamburger{
    margin-left : 30px;
    width: 100px;
    display: flex;
    align-items: center;
}

.containerBg{
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items : center;
    border-bottom: 1px solid #dadce0;
    width: 100%;
}

.logo{
    margin-right: 10%;
}

.item:first-child{
    margin: 0px;
    align-items: flex-end;
}

.item{
    margin : 5px;
}

.item:nth-child(3){
    display : flex;
}

.lilItem{
    margin: 10px;
}

.lilItem:last-child:hover{
    color: #0185FF;
}