.containerBg{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items : center;
}

.logo{
    margin-left: 100px;
    margin-top: 20px;
}