.hamburger {
    margin-left: 30px;
    width: 100px;
    display: flex;
    align-items: center;
}

.containerBg {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadce0;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: 10%;
}

.item:first-child {
    margin: 0px;
    align-items: flex-end;
}

.item {
    margin: 5px;
}

.item:hover {
    cursor: pointer;
}

.item:nth-child(3) {
    display: flex;
}

.lilItem {
    margin: 10px;
}

.lilItem:first-child:hover{
    color: #0185FF;
}

.lilItem:nth-child(2):hover{
    color: #0185FF;
}
