.box {
    width: 980px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.headerBox {
    display: flex;
    justify-content: center;
}

.mainImg {
    width: 440px;
    height: 440px;
    background-color: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.mainImg img {
    width: 100%;
    height: 100%;
    object-fit: contain
}


.subImgBox {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.subImg {
    width: 50px;
    height: 50px;
    background-color: gray;
    border: 1px solid rgb(69, 69, 69);
    margin-bottom: 10px;
}

.subImg:hover {
    cursor: pointer;
}

.subImg img {
    width: 100%;
    height: 100%;
}

.inpoBox {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 100px;
}

.rateBox {
    display: flex;
}

.rateBox span {
    font-size: 12px;
    display: block;
    margin-left: 5px;
    margin-top: 7px;
    color: #0066FF;
}

.rateBox span:hover {
    cursor: pointer;
}

.title {
    font-size: 28px;
    margin-top: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.sellerId {
    margin-top: 30px;
    margin-bottom: 10px;
}

.sellerId span {
    font-weight: bold;
}

.stock span {
    font-weight: bold;
}

.quantity {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
}

.quantity span {
    font-size: 14px;
    font-weight: bold;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.totalPrice span:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}

.totalPrice span:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
}

.btnBox {
    display: flex;
    margin-top: 20px;
}

.payBtn {
    width: 180px;
    height: 40px;
    border: 0;
    background-color: #1c1c1c;
    font-weight: bold;
    color: white;
}

.cartBtn {
    width: 180px;
    height: 40px;
    border: 0;
    background-color: #fcfcfc;
    border: 1px solid gray;
    font-weight: bold;
    margin-left: 10px;
}

.tabBox {
    width: 980px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}

.tabBoxFixed {
    position: fixed;
    top: 0px;
    width: 980px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    background-color: #fff;
}

.tab {
    width: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab:hover {
    cursor: pointer;
}

.tab span {
    font-size: 16px;
    color: rgb(72, 72, 72);
}