.totalBox span {
    margin-left: 10px;
}

.headerBox {
    display: flex;
}

.userBox {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.userId {
    font-weight: bold;
    font-size: 14px;
    color: rgb(40, 40, 40);
}

.rateBox {
    display: flex;
}

.updatedAt {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 7px;
}

.imgBox {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 120px;
}

.sortBox {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sortBox span {
    font-size: 14px;
}

.sortBox span:hover {
    cursor: pointer;
}

.paginationBox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}