.containerBig {
  display: flex;
  flex-direction: column;
}

.containerSmall {
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 50px;
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #dadce0;
  font-size: small;
}

.item:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 920px;
}

.footer {
  display: flex;
  justify-content: center;
}
