.box {
    width: 980px;
    margin: 0 auto;
}

.addBtnBox {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.productBox {
    display: flex;
    width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}

.imgBox {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.infoBox {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
}

.infoBox:hover {
    cursor: pointer;
}

.btnBox {
    display: flex;
    align-items: center;
}