.box {
    width: 980px;
    margin: 0 auto;
}

.orderBox {
    padding: 30px;
    border: 1px solid gray;
    border-radius: 14px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.orderDateBox span {
    font-size: 18px;
    font-weight: bold;
}

.productBox {
    display: flex;
}

.imgBox {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.infoBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
}

.btnBox {
    display: flex;
    align-items: center;
}