.box {
    width: 980px;
    margin: 0 auto;
}

.addBtnBox {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.productBox {
    display: flex;
    width: 800px;
    margin: 0 auto;
    padding: 14px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.imgBox {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(201, 201, 201);
}

.infoBox {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
}

.infoBox:hover {
    cursor: pointer;
}

.infoBox span {
    margin-bottom: 8px;
}

.infoBox span:first-child {
    font-size: 18px;
    font-weight: bold;
}

.btnBox {
    display: flex;
    align-items: center;
}