.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBarFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: all 0.8s ease;
  background-color: #FFF;
}

.NavBar {
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.body {
  position: relative;
  z-index: 1;
}

.bodyScrolled {
  padding-top: 59px;
}
